@import "./Sass/_querys";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
  font-family: 'Roboto', sans-serif;
  
}
.AppBody{
 
  @include desktop{
  
    width: 50%;
    margin: 0 25%;
   

  }

}
.App {
  text-align: center;
 
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a{
  @include tablet {
  
    font-size: 1.4rem;

  }
  @include mobile-landscape {
    
    
  font-size: 1.2rem;
    

  }
text-decoration: none;
color: black


}

button > a{

  color: white;
  @include tablet {
  
    font-size: 1.4rem;

  }
}
button {

  @include tablet {
    border-radius: 9px;
    width: 40%;
    
    justify-content: center;

 

    
   
    

  }


}


 
