/*
 * Details css File
*/

.Details {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  margin-left: 5%;
  width: 90%;
  height: 600px;
   
  -webkit-box-shadow: 2px 1px 15px 5px rgba(0,0,0,0.62); 
  box-shadow: 2px 1px 15px 5px rgba(0,0,0,0.62);
  /* propertys here */
}

.box-img-details > img {
  margin-left: 10%;
  margin-top: 10%;
  width: 80%;
}

.box-titleProd-details{
    font-size: 1.5rem;
}
.box-price-details{
    font-size: 2rem;

}
.box-description-details{
    font-size: 1rem;
}