/*
 * Home css File
*/
@import "../../Sass/_querys";

.Background{
    @include tablet {
  
        font-size: 1.4rem;
        height: 900px;
      }
    height: 600px;
    background-image: url("../../img/bgimage2.jpg");
    margin-bottom: -100%;
    background-size: 100% 100%

    

    
 }
.Home {
    display: flex;
    background-position: center center;
    background-position: 50%;
    
    flex-direction: column;
    align-items: center;
 
}
.Home >button{
    margin-top: 20%;
}

.Home > img{

    
width: 60%;
        
}

 