/*
 * Products css File
*/

.Products { 
    display: flex;
    flex-direction: column;

    font-size: 1rem;
    
    /* propertys here */
}

/* img{

    width: 40%;
} */

.hidden{

    display: none;
}

  .box-prod{
      text-align: center;
      justify-content: center;
      color: black;
      display: flex;

      width: 90%;
      margin-left: 2.5%;
      margin-right: 2.5%;
        padding: 2%;
    height: 150px;
/*     background-color: red; */
    margin-top: 5%;
    margin-bottom: 5%;
    -webkit-box-shadow: 2px 1px 15px 5px rgba(0,0,0,0.62); 
box-shadow: 2px 1px 15px 5px rgba(0,0,0,0.62);


}  
.box-img{
 
    width: 40%;
    height: 100%;
/*     background-color: blue; */

}
.box-img> img{
    justify-content: center;
    width: 100%;
}
.box-details{
    flex-wrap:nowrap ;
    width: 60%;
    height: 100%;
 /*    background-color: green; */

}
.box-titleProd{

    width: 100%;
/*     background-color: red; */
    height: 30%;
 
   
}
.box-price{
    height: 30%;
    width: 40%;
/*     background-color: yellow; */
}
.box-description{
    font-size: 0.5rem;
    width: 100%;
    height: 55%;
 /*    background-color: black; */
}
.box-division{
    display: flex;
     
    flex-direction: row;
 
   width: 100%;
/*    background-color: orange; */
}
table,tr,td{

    border: 2px solid black;
  
    width: 50%;
}

.resultsSearch > p > img{

    width: 10%;
}