@import "../../Sass/mixins";
@import "../../Sass/_querys";
 

.Products { 
    display: flex;
    flex-direction: column;

    font-size: 0.5rem;
    background-color: white;
}
 

.hidden{

    display: none;
}

  .box-prod{
      text-align: center;
      justify-content: center;
      color: black;
      display: flex;

      width: 90%;
      margin-left: 2.5%;
      margin-right: 2.5%;
        padding: 2%;
    height: 150px;
/*     background-color: red; */
    margin-top: 5%;
    margin-bottom: 5%;
    -webkit-box-shadow: 2px 1px 15px 5px rgba(0,0,0,0.62); 
box-shadow: 2px 1px 15px 5px rgba(0,0,0,0.62);


}  
 
.box-details{
    flex-wrap:nowrap ;
    width: 60%;
    height: 100%;
 /*    background-color: green; */

}
.box-titleProd{

    width: 100%;
/*     background-color: red; */
    height: 30%;
 
   
}
.box-price{
    height: 30%;
    width: 40%;
/*     background-color: yellow; */
}
.box-description{
    font-size: 0.5rem;
    width: 100%;
    height: 55%;
 /*    background-color: black; */
}
.box-division{
    display: flex;
     
    flex-direction: row;
 
   width: 100%;
/*    background-color: orange; */
}
table,tr,td{

    border: 2px solid black;
  
    width: 50%;
}

.resultsSearch > p > img{

    width: 10%;
}
table{
     padding-top: 5px;
     padding-right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-left: 5%;
    width: 90%;
    font-size: 0.8rem
}
 

td > img {
    padding: 5px;
    margin-right: 20%;
    justify-content: center;
    width: 80%;
    text-align: center;

    @include tablet {
  
      width: 55%;
        
      }
      @include mobile-landscape {
    
        margin-left: 20%;
        width: 50%;
        
    
      }

}
td{
    @include tablet {
  
        font-size: 2rem;
          
        }

    border: 0px;
    height: 20%;
    padding: 5px;
}

tr{
     
    border: solid 100px red;
}

 
.botonera {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.botonera > button {
    margin-left: 5%;
    font-size: 10px;
    width: 50%;
}
 
button{
 
    @include tablet {
    
        font-size: 1.5rem;
        width: 50%;
        height: 60px;
    
      }
  
    border: 3px solid black;
 
    background-color: black;
    color: white;
    
    height: 30px;
}
.filters{
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    height: 40px;
    width: 90%;

    @include tablet {
  
        font-size: 2rem;
        height: 0px;
        
      }
}
.filters > button {


 
 
}

input{

    width: 80%;
    height: 30px;
 
    border: solid 3px black;
    @include tablet {
  
        font-size: 2rem;
        height: 50px;
        
      }
    
}


.search{
margin-top: 5%;
margin-left: 10%;
margin-bottom: 5%;

}

.addCartImg{
  
    width: 200%;
    margin-right: 20%;
}
  h5{
      
    @include tablet {
  
        font-size: 1.5rem;
          
        }
    display: flex;
    flex-direction: row;
    justify-content: center;
}  

#page1 > div > button{

    @include tablet {
  
        font-size: 1.5rem;
          
        }


}

#page2 > div > button {
    @include tablet {
  
        font-size: 1.5rem;
          
        }


}

#page3 > div > button {

    @include tablet {
  
        font-size: 1.5rem;
          
        }
}

 