/*
 * Products css File
*/

.Products { 

    font-size: 0.2rem;
    
    /* propertys here */
}

img{

    width: 5%;
}

.hidden{

    display: none;
}

.box-prod{
    height: 100px;
    background-color: red;


}